<ul>
    <li>Produkt 1 <a n:href="koupit!, 1" class="btn btn-primary ajax">Koupit</a></li>
    <li>Produkt 2 <a n:href="koupit!, 2" class="btn btn-primary ajax">Koupit</a></li>
    <li>Produkt 3 <a n:href="koupit!, 3" class="btn btn-primary ajax">Koupit</a></li>
</ul>

