<a href="{$presenter->link(':Home:kosik')}" class="btn btn-light rounded-pill d-flex flex-row gap-1"><i class="bi bi-basket2-fill"></i>{snippet kosikPocet}{$kosikPocet}{/snippet} - {snippet kosikCelkemCZK}{$kosikCelkemCZK} Kč{/snippet}{snippet kosikCelkemEUR}({$kosikCelkemEUR} €){/snippet}</a>
