<div class="col d-flex flex-column justify-content-center align-items-center align-items-sm-end">
    <a n:href="koupit!, $produkt->id" class="btn btn-primary ajax">Koupit</a>
    <span class="text-nowrap">Skladem: {$ks}</span>
</div>