services:
	- App\Core\RouterFactory::createRouter
	- App\Models\KombinaceModel\KombinaceModel
	- App\Models\ObjednavkaModel\ObjednavkaModel
	- App\Models\ObjednavkaKombinaceModel\ObjednavkaKombinaceModel
	- App\Models\ProduktModel\ProduktModel
	- App\Models\ProduktStitekModel\ProduktStitekModel
	- App\Models\ProduktVariantaModel\ProduktVariantaModel
	- App\Models\ProduktVariantaKombinaceModel\ProduktVariantaKombinaceModel
	- App\Models\StitekModel\StitekModel
	- App\Models\VariantaModel\VariantaModel
	- App\Services\MenaService
	- App\Services\ProduktyService
	- App\Services\ObjednavkaService
	- App\Services\KosikService
	- App\Services\StitkyService
	- App\Components\DetailComponent\DetailComponentFactory
	- App\Components\KosikComponent\KosikComponentFactory
	- App\Components\KosikNahledComponent\KosikNahledComponentFactory
	- App\Components\KoupitBtnComponent\KoupitBtnComponentFactory
	- App\Components\KoupitModalComponent\KoupitModalComponentFactory
	- App\Components\ProduktyComponent\ProduktyComponentFactory
	- App\Components\VariantyFormComponent\VariantyFormComponentFactory


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
