{block title}{$produkt->nazev}{/block}
{block kosik}{control kosikNahled}{/block}
{block content}

{control detail:detail $produkt}

<a n:href="Home:default" class="btn btn-secondary mt-5">Zpět na hlavní stránku</a>