<div n:snippet="variantyForm">
    {control variantyFormComponent}
    <div class="mt-3" id="skladem">Skladem: ? ks</div>
</div>


<script>
    var selects = document.querySelectorAll('.varianty-select'); //proc nefunguje let?

    selects.forEach(select => {
        select.addEventListener("change", e => {
            console.log("posloucham");
            naja.makeRequest("POST", {plink zmenaVariant!}, {
                name: select.name,
                choice: select.options[select.selectedIndex].text
            }).then(response => {
                var koupitButton = document.querySelector('input[name="koupitVariantu"]');
                if (response.ks !== undefined && response.ks !== null) {
                    if (response.ks > 0) {
                        koupitButton.classList.remove('disabled');
                    } else {
                        koupitButton.classList.add('disabled');
                    }
                    document.getElementById('skladem').innerText = "Skladem: " + response.ks + " ks";
                }
                else {
                    koupitButton.classList.add('disabled');
                    document.getElementById('skladem').innerText = "Skladem: ? ks";
                }
            });
        });
    });
</script>
