<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}E-Shop</title>

	<link rel="stylesheet" href="{$basePath}/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	
	
	<script src="{$basePath}/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="{$basePath}/assets/jQuery/jquery-3.7.1.min.js"></script>
	<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<header class="bg-success text-light position-sticky top-0 py-3 mb-4">
		<div class="container d-flex justify-content-between align-items-center">
			<h1><a n:href="Home:default" class="text-light text-decoration-none">E-Shop</a></h1>
			{ifset kosik}{include kosik}{/ifset}
		</div>
	</header>
	<main class="container my-4 d-flex flex-column align-items-center">
		{ifset title}<h2 class="text-center">{include title}</h2>{/ifset}
		{include content}
	</main>
</body>

{block scripts}
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			naja.initialize();
		});

	</script>
{/block}

</html>

